<template name="signup">
  <div class="row">
    <div class="col s12">
      <h4 class="page-header">Sign Up</h4>
      <form id="signup" class="signup">
        <div class="row">
          <div class="col s12 m6">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" name="firstName" class="form-control" placeholder="First Name">
            </div>
          </div>
          <div class="col s12 m6">
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" name="lastName" class="form-control" placeholder="Last Name">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" placeholder="username">
        </div>
        <div class="form-group">
          <label for="emailAddress">Email Address</label>
          <input type="email" name="emailAddress" class="form-control" placeholder="Email Address">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
          <input type="submit" class="waves-effect waves-light btn" value="Sign Up">
        </div>
      </form>
      <p>Already have an account? <a href="{{pathFor 'login'}}">Log In</a>.</p>
    </div>
  </div>
</template>
