<template name="sidebar">
  <!-- sidebar -->
  <aside class="sidebar">
    <h4>Channels</h4>
    <ul>
      {{#each channel in channels}}
        {{#if isInRange channel}}
          <!-- user is in range of this channel -->
          <li class="{{checkIfActive channel.name}}" data-isInRange="true">
            <!-- link to chatroom -->
            <a href="/messages/{{channel.name}}">
              <!-- channel name -->
              {{channel.name}}
              <!-- icon for is in range -->
              <i class="fa fa-globe" aria-hidden="true"></i>
            </a>
          </li>
        {{else}}
          <!-- user is not in range of this channel -->
          <li class="{{checkIfActive channel.name}}" data-isInRange="false">
            <!-- display channel name and link to chatroom -->
            <a href="/messages/out_of_range">
              <!-- channel name -->
              {{channel.name}}
            </a>
          </li>
        {{/if}}
      {{/each}}
    </ul>
    <h4>Direct Messages</h4>
    <ul>
      {{#each user in users}}
        <li class="{{checkIfActive user.username}}" data-isInRange="true">
          <!-- display user name and link to direct message -->
          <a href="/messages/@{{user.username}}">
            {{user.username}}
            {{#if user.status.online}}
              <!-- show online status -->
              <i class="fa fa-user"></i>
            {{/if}}
          </a>
        </li>
      {{/each}}
    </ul>
  </aside>
</template>
