.navbar.navbar-default {
  border-radius: 0px;
    background-color: #000000;
    color: red;
    padding-top: 20px;

    .navbar-brand {
      color: #CB1B1B;
      font-family: "Cow Jump", ;
      font-size: 50px;
height: 75px;
    }


  .navbar-brand > span {
    position: relative;
    top: -1px;
    left: 25px;
    font-size: 20px;
    font-family: trench;
    color: #fff;

  }
}

body.is-channel .navbar.navbar-default {
  border-bottom: none;
}

.logins {
  font-family: "trench";
  font-size: 15px;
}
